# Pandas Playground

## Basics

### DataFrames from Files

In [ ]:
import pandas as pd

pokemon = pd.read_csv("/Users/vladyslavshutkevych/Desktop/Tools/Pandas/data/pokemon_data.csv")
pokemon.head()

df1 = pd.read_excel("/Users/vladyslavshutkevych/Desktop/Tools/Pandas/data/pokemon_data.xlsx")
df1.head()

df2 = pd.read_csv("/Users/vladyslavshutkevych/Desktop/Tools/Pandas/data/pokemon_data.txt", delimiter="\t")
df2.head()

### Creating DataFrames, Index/Columns, Basic Functionality

In [ ]:

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A", "B", "C"], index=["x","y","z"])
df.head() # all rows
df.head(1) # specific row
df.tail(2) # bottow 2 rows
df.index.to_list() # find indices (indices instead of rows)
df1.columns

# Info
df.info() # concise info overview
df.describe() # summary of statistics
df.size # num of elements

# Unique values
df.nunique()
df["A"].unique

df.shape

### Reading Data

In [ ]:
# Read headers
df1.columns

# Read each Column
df1["Name"][0:5]
df1[["Name", "Type 1", "HP"]]
df1.Name

# Read each Row
df1.iloc[1] # everything about second row
df1.iloc[0:4]
# for index, row in df1.iterrows():
#     print(index, row["Name"])

df1.loc[df1['Type 1'] == 'Fire']

# Read a specific Location (R, C)
df1.iloc[2,1]

### Sorting/Describing Data

In [ ]:
df1.sort_values('Name')
df1.sort_values('Name', ascending=False)
df1.sort_values(['Type 1', 'HP'], ascending=[1,0]) # [ascending, descending]

### Changing Data

In [ ]:
df1['Total'] = df1.iloc[:, 4:10].sum(axis=1) # horizontal sum
# df1['Total'] = df1.loc[:, 'HP':'Speed'].sum(axis=1) # stays even after commenting

# df1 = df1.drop(columns=['Total'])

columns = list(df1.columns.values)
# df1 = df1[['Total', 'HP', 'Defense']] # bad way
df1 = df1[columns[0:4] + [columns[-1]] + columns[4:12]]
df1.head(5)

### Saving Data

In [ ]:
# df1.to_csv('data/modified.csv') # save file

# df1.to_csv('data/modified.csv', index=False) # ignore indicies
# df1.to_excel('data/modified.xlsx', index=False)
# df1.to_csv('data/modified.txt', index=False, sep='\t')

### Filtering Data

In [ ]:
df1.loc[df1['Type 1'] == 'Grass'] # loc - choose by labels instead of indices
new_df = df1.loc[(df1['Type 1'] == 'Grass') & (df1['Type 2'] == 'Poison') & (df1['HP'] > 70)]

new_df = new_df.reset_index(drop=True) # reset index after filtering
# or
new_df.reset_index(drop=True, inplace=True)
new_df.head(5)

mega = df1.loc[df1['Name'].str.contains('Mega')] # filter by string
mega_not = df1.loc[~df1['Name'].str.contains('Mega')] # everything except Mega
mega.head(5)

In [ ]:
import re
mega = df1.loc[df1['Type 1'].str.contains('fire|grass', flags=re.IGNORECASE, regex=True)]

mega = df1.loc[df1['Name'].str.contains('pi[a-z]*', flags=re.IGNORECASE, regex=True)] # contains pi followed by any letters
mega = df1.loc[df1['Name'].str.contains('^pi[a-z]*', flags=re.IGNORECASE, regex=True)] # starts with pi
mega = df1.loc[df1['Name'].str.contains('pi[a-z]*$', flags=re.IGNORECASE, regex=True)] # ends with pi

### Conditional Changes

In [ ]:
df1.loc[df1['Type 1'] == 'Fire', 'Type 1'] = 'Flamer' # change values (specific column)
df1.loc[df1['Type 1'] == 'Grass', 'Legendary'] = True # all values in Legendary column become True if Type 1 is Grass

df1.loc[df1['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE' # for multiple columns
df1.loc[df1['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2'] # change multiple columns at once
df1

### Aggregate Statistics (Groupby)

In [ ]:
df = pd.read_excel("/Users/vladyslavshutkevych/Desktop/Tools/Pandas/data/pokemon_data.xlsx")

# group by Type 1 and get mean for all numeric columns, find the strongest Type 1 by Attack
df.groupby(['Type 1']).mean(numeric_only=True).sort_values('Attack', ascending=False)

# sum all numeric columns for each Type 1
df.groupby(['Type 1']).sum(numeric_only=True)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,222,0
Dark,14302,2071,2740,2177,2314,2155,2361,125,2
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12
Electric,15994,2631,3040,2917,3961,3243,3718,144,4
Fairy,7642,1260,1046,1117,1335,1440,826,70,1
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0
Fire,17025,3635,4408,3524,4627,3755,3871,167,5
Flying,2711,283,315,265,377,290,410,22,2
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2
Grass,24141,4709,5125,4956,5425,4930,4335,235,3
Ground,11401,2361,3064,2715,1807,2008,2045,101,4
Ice,10165,1728,1746,1714,1861,1831,1523,85,2
Normal,31279,7573,7200,5865,5470,6245,7012,299,2
Poison,7050,1883,2091,1927,1692,1803,1780,71,0
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14
Rock,17280,2876,4086,4435,2787,3321,2460,152,4
Steel,11957,1761,2503,3412,1823,2177,1492,104,4
Water,33946,8071,8305,8170,8379,7898,7388,320,4