# Pandas Playground

## Basics

### DataFrames from Files

In [2]:
import pandas as pd

pokemon = pd.read_csv("/Users/vladyslavshutkevych/Desktop/Tools/Pandas/data/pokemon_data.csv")
pokemon.head()

df1 = pd.read_excel("/Users/vladyslavshutkevych/Desktop/Tools/Pandas/data/pokemon_data.xlsx")
df1.head()

df2 = pd.read_csv("/Users/vladyslavshutkevych/Desktop/Tools/Pandas/data/pokemon_data.txt", delimiter="\t")
df2.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

### Reading Data

In [11]:
# Read headers
df1.columns

# Read each Column
df1["Name"][0:5]
df1[["Name", "Type 1", "HP"]]
df1.Name

# Read each Row
df1.iloc[1] # everything about second row
df1.iloc[0:4]
# for index, row in df1.iterrows():
#     print(index, row["Name"])

df1.loc[df1['Type 1'] == 'Fire']

# Read a specific Location (R, C)
df1.iloc[2,1]

'Venusaur'

### Sorting/Describing Data

In [4]:
df1.sort_values('Name')
df1.sort_values('Name', ascending=False)
df1.sort_values(['Type 1', 'HP'], ascending=[1,0]) # [ascending, descending]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

### Changing Data

In [ ]:
df1['Total'] = df1.iloc[:, 4:10].sum(axis=1) # horizontal sum
df1['Total'] = df1.loc[:, 'HP':'Speed'].sum(axis=1) # stays even after commenting

df1 = df1.drop(columns=['Total'])

columns = list(df1.columns.values)
# df1 = df1[['Total', 'HP', 'Defense']] # bad way
# df1 = df1[columns[0:4]+columns[-1]]
df1.head(5)

TypeError: can only concatenate list (not "str") to list

### Creating DataFrames, Index/Columns, Basic Functionality

In [6]:


df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A", "B", "C"], index=["x","y","z"])
df.head() # all rows
df.head(1) # specific row
df.tail(2) # bottow 2 rows
df.index.to_list() # find indices (indices instead of rows)
df1.columns

# Info
df.info() # concise info overview
df.describe() # summary of statistics
df.size # num of elements

# Unique values
df.nunique()
df["A"].unique

df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

(3, 3)